.title {
  font-size: 25px;
  font-weight: bold;
  color: #141414;
  text-align: center;
  position: fixed;
  z-index: 101;
}
.controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 87%;
  position: fixed;
  z-index: 100;
  background-color: #90c7fd;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.item {
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}
.name {
  font-size: 15px;
  color: #141414;
  font-weight: bold;
}
.menu {
  width: 100px !important;
}
.dropdown {
  left: 90% !important;
  min-width: 100px !important;
}
.search {
  width: 300px;
  position: fixed;
  top: 10px;
  left: 15%;
  z-index: 1000;
}
