.spin_loading {
  :global {
    .ant-spin-spinning {
      position: fixed;
      display: inline-block;
      opacity: 1;
      top: 50%;
      left: 50%;
    }
  }
}
.logo {
  font-size: 28px;
  height: 50px;

  color: #fb8800;
  font-weight: bold;
  //background: blanchedalmond;
  font-family: "Oswald", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}
