.controller {
  width: 65%;
  border-radius: 20px;
  :global {
    .ant-avatar-image {
      border-radius: unset;
    }
  }
}
.controllerFull {
  width: 100%;
  border-radius: 20px;
  :global {
    .ant-avatar-image {
      border-radius: unset;
    }
  }
}
