.header {
    width: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    position: fixed;
    background: #fff;
    z-index: 1;
}

.header_grid {
    display: flex;
    height: 60px;
}

.header_logo {
    font-size: 24px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fb8800;
    font-weight: bold;
    /* background: blanchedalmond; */
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
}
.header_logo:hover{
    cursor: pointer;
}

.header_input {
    margin: auto 0px auto 60px;
}

.header_input-form {
    height: 40px;
    display: flex;
}

.header_input-input {
    padding: 6px 12px;
    border-radius: 25px;
    border: 1px solid #cccccc;
    width: 415px;
    height: 100%;
    font-size: 1.4rem;
    color: #555555;
}

.header_input-button {
    background: transparent;
    height: 100%;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    right: 41px;
    top: 2px;
    width: 40px;
    color: #f26c4f;
    font-size: 20px;
}

.header_input-button {
    outline: 0;
}

.header_input-input:focus {
    outline: 0;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.header_giohang {
    display: flex;
    width: 100%;
    margin: auto 4px;
    position: relative;
}

.header_giohang-link-kichhoat {
    display: flex;
    text-decoration: none;
    color: #333333;
    font-size: 1.4rem;
    padding: 12px;
    background: #ddd;
    /* height: 38px;
    margin: auto 7px; */
    border-radius: 3px;
    cursor: pointer;
}

.header_giohang-link-kichhoat i {
    margin-left: 10px;
    font-size: 12px;
}

.header_giohang-icon {
    color: #f26c4f;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_giohang-list {
    display: flex;
    position: absolute;
    right: 12px;
}

.header_giohang-list-item {
    /* padding: 9px 19px; */
}

.dk {
    background: #f26c4f;
    border-radius: 3px;
    color: var(--white-color);
}

.dk-color {
    color: #000;
}

.list-link-dn {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    padding: 11px 23px;
    display: block;
}

.list-link-dk {
    text-decoration: none;
    color: var(--while-color);
    font-size: 1.4rem;
    padding: 11px 11px;
    display: block;
}

.menu {
    :global {
        .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
            text-align: center;
        }
    }
}
