@mixin img {
  width: 260px;
  height: 130px;
}
.upload_file {
  :global {

    .ant-upload-select-picture-card, .ant-upload-list-item, .ant-upload-list-picture-card-container, .ant-upload-list, .ant-upload-picture-card-wrapper {
      @include img;
    }
    .ant-upload-list-item-thumbnail {
      @include img
    }
    .ant-upload-list-picture-card .ant-upload-list-item-thumbnail, .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
      @include img
    }
  }
}
.controller_study_program {
  display: flex;
  flex-direction: row;
  :global {
    .ant-collapse {
      width: 40%;
    }
  }
}
.title {
  font-weight: bold;
  font-size: 20px;
}
.content_right {
  width: 55%;
  background-color: #fafafa;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.upload_file {
  :global {
    .anticon-eye {
      display: none;
    }

    .ant-upload-select-picture-card, .ant-upload-list-item, .ant-upload-list-picture-card-container, .ant-upload-list, .ant-upload-picture-card-wrapper {
      @include img;
    }
  }
}
.controller_video {
  :global {
    .ant-input {
      width: 258px !important;
    }
  }
}
.item_video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #cccccc !important;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  background-color: #fafafa;

  overflow: auto;
}
.controller_video_watch {

}
.drawer_video {
  overflow: auto;
  :global {
    .ant-drawer-title {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }
  }
}
.drawer_container {
  :global {
    .ant-drawer-body {

      //background: #002140;
    }
    .ant-drawer-title {
      color: #181717;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
    }
    .ant-drawer-header {
      //background-color: #90c7fd;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #d8dbe3;
    }
    .ant-drawer-close {
      width: 40px;
      height: 40px;
      background-color: red;
      border-radius: 100%;
      font-size: 25px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
  }

}
